/* Left Sidebar Component */
.left-sidebar {
  width: 20%;
  flex: 0 0 20%;
  background: linear-gradient(180deg, var(--gray-900), var(--gray-800));
  border-right: 1px solid var(--gray-700);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: auto;
}

/* Logo styling for sidebar */
.left-sidebar .logo-svg {
  max-width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.left-sidebar nav a {
  color: var(--gray-200) !important;
}

/* Navigation styles */
.left-sidebar .active {
  background-color: var(--gray-700);
}

.left-sidebar .hover-highlight:hover {
  background-color: var(--gray-700);
  transition: background-color 0.25s;
}

/* Logout button */
.logout-link {
  color: var(--gray-200) !important;
  transition: color 0.25s ease;
}

.logout-link:hover {
  color: var(--gray-400) !important;
}
