.right-sidebar {
  width: 30%;
  background: linear-gradient(180deg, var(--gray-900), var(--gray-800));
}

.right-sidebar .card {
  border: none;
}

.right-sidebar small {
  color: var(--gray-400);
}

.separator {
  border-bottom: 1px solid var(--gray-700);
}
